.app {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    height: 100%
  }

  #root {
    display: block;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--background-colour-1);
    height: 100%
  }
  
  @font-face {
    font-family: "Lexend";
    src: local("Lexend"), url(../assets/fonts/Lexend/Lexend-VariableFont_wght.ttf) format('truetype')
  }
  
  :root {
    --theme-colour-orange: #FF9456;
    --theme-colour-steel: #323F49;
    --theme-colour-red: #D85A62;
    --theme-colour-green: #6AB97B;
    --theme-colour-blue: #2D8CC5;
    --background-colour-1: #EFEFEF;
  }